@(runIDs : List[String], selectedRunID: String, article: String, matches: List[Match1])

@* result page *@

<!doctype html>
<html ng-app="showExtract">
<head>
  <!-- bootstrap includes -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
  <title>@article</title>
</head>

<script type="text/javascript">

	// some bootstrap recommended ugliness to enable all popovers on page
	$(function () { $("[data-toggle='popover']").popover(); });
	
	// some ugliness to dismiss popovers upon click, via event fiddling 
	$('html').on('click', function(e) {
		  if (typeof $(e.target).data('original-title') == 'undefined') {
		    $('[data-original-title]').popover('hide');
		  }
		});
	
</script>

<body>

  <div>
  
    <!-- runID display and selection -->    	   
    <span>You are viewing the output for run ID:</span>

	    <span @popover(popoverContent="you may also select a different run's results here, by clicking here and selecting a different run ID")>
	      @dropDownButton(selectedRunID, runIDs.map {r => (routes.Application.showExtract(r, article).toString, r) })
		  </span>

    <!-- button for showing original article -->
    @buttonWithPopover("View Original", routes.Application.showOriginal(article).toString, "click here to go to the original article")
	 	 
  </div>
  
  <!-- output table -->
  <table class="table">
    @matches.map {m => 
      <tr>
        <td class="matchIndication">@m.matchIndication</td>
        <td style="width: 80ch"
            @popover(Some("why is this here?"), s"it matched pattern: <b>${m.matchPattern}</b><br>in section: <b>${m.locationActual}</b>")>
            @m.sentence
        </td>
      </tr>
    }
  </table>
	  
</body>